#subjectPanel {
  ul li.content-pool {
    padding: 0;
    list-style-type: none;

    &:hover {
      background-color: #fafafa;
    }

    .pool-subject-left {
      float: left;
      padding: 15px 0 0 15px;
    }

    .pool-subject-right {
      margin-left: 85px;
      padding: 15px 15px 0 0;
    }
  }
}