html, body, table, dl, dt, dd, ul, ol, li, div, section, header, footer, textarea, aside, ng-view, a, h1, h2, h3, h4, h5, h6, span {
  padding: 0;
  margin: 0;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

a, span {
  color: #000000;
  text-align: center;
  text-decoration: none; }

p {
  font-size: 14px; }

ul {
  list-style-type: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:hover,
a:active {
  outline: 0; }

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  /* Responsive images (ensure images don't scale beyond their parents) */
  max-width: 100%;
  /* Part 1: Set a maxium relative to the parent */
  width: auto\9;
  /* IE7-8 need help adjusting responsive images */
  height: auto;
  /* Part 2: Scale the height according to the width, otherwise you get stretching */
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic; }

#map_canvas img,
.google-maps img {
  max-width: none; }

button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle; }

button,
input {
  *overflow: visible;
  line-height: normal; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

label,
select,
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
input[type="radio"],
input[type="checkbox"] {
  cursor: pointer; }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

@media print {
  * {
    text-shadow: none !important;
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
.icon-glass {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: 0px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-music {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -24px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-search {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -48px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-envelope {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -72px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-heart {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -96px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-star {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -120px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-star-empty {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -144px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-user {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -168px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer;
  background-position: -168px 0px; }

.icon-film {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -192px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-th-large {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -216px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-th {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -240px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-th-list {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -264px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-ok {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -288px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-remove {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -312px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-zoom-in {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -336px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-zoom-out {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -360px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-off {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -384px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-signal {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -408px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-cog {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -432px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-trash {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -456px 0px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-home {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: 0px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-file {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -24px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-time {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -48px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-road {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -72px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-download-alt {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -96px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-download {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -120px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-upload {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -144px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-inbox {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -168px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-play-circle {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -192px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-repeat {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -216px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-refresh {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -240px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-list-alt {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -264px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-lock {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -287px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-flag {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -312px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-headphones {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -336px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-volume-off {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -360px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-volume-down {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -384px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-volume-up {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -408px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-qrcode {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -432px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-barcode {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -456px -24px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-tag {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: 0px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-tags {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -25px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-book {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -48px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-bookmark {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -72px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-print {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -96px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-camera {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -120px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-font {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -144px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-bold {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -167px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-italic {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -192px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-text-height {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -216px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-text-width {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -240px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-align-left {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -264px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-align-center {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -288px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-align-right {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -312px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-align-justify {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -336px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

.icon-list {
  background-image: url("../../../images/icons/glyphicons-halflings.png");
  background-repeat: no-repeat;
  background-position: -360px -48px;
  display: inline-block;
  width: 14px;
  height: 14px;
  cursor: pointer; }

#Header {
  width: 100%;
  height: 50px;
  border-bottom: 1px solid #e3e3e3;
  background-color: white;
  position: fixed;
  z-index: 9999;
  top: 0; }
  #Header .nav {
    width: 980px;
    margin-left: -convert-to-rem(30, 16px)/2;
    margin-right: -convert-to-rem(30, 16px)/2;
    margin-top: 0;
    margin-bottom: 0;
    max-width: none;
    min-width: 650px;
    height: 50px;
    margin: 0 auto;
    color: #292929; }
    #Header .nav:before, #Header .nav:after {
      content: " ";
      display: table; }
    #Header .nav:after {
      clear: both; }
    #Header .nav ul {
      display: inline-block; }
    #Header .nav .left-nav {
      padding-left: convert-to-rem(30, 16px)/2;
      padding-right: convert-to-rem(30, 16px)/2;
      width: 66.66667%;
      float: left;
      list-style-type: none; }
      #Header .nav .left-nav li {
        display: inline-block;
        float: left;
        height: 50px;
        line-height: 50px;
        width: 70px;
        text-align: center; }
        #Header .nav .left-nav li a {
          padding-top: 0px;
          color: #292929;
          font-size: 12px; }
        #Header .nav .left-nav li:not(#logo):hover {
          border-bottom: 3px solid #9aab20; }
      #Header .nav .left-nav #logo {
        width: 100px;
        padding: 10px; }
        #Header .nav .left-nav #logo a {
          display: block;
          background: url(../../../../images/logo.png) no-repeat;
          width: 84px;
          height: 25px; }
      #Header .nav .left-nav .active {
        border-bottom: 3px solid #9aab20; }
    #Header .nav .right-nav {
      padding-left: convert-to-rem(30, 16px)/2;
      padding-right: convert-to-rem(30, 16px)/2;
      width: 33.33333%;
      float: left;
      list-style-type: none;
      text-align: right;
      height: 50px;
      line-height: 50px; }
      #Header .nav .right-nav li {
        float: right;
        display: inline-block;
        height: 50px;
        line-height: 50px; }
        #Header .nav .right-nav li:hover > .nav-dropdown {
          display: block;
          position: static !important;
          height: auto;
          width: auto;
          overflow: visible;
          clip: auto;
          position: absolute !important; }
        #Header .nav .right-nav li .nav-dropdown {
          display: block;
          position: absolute !important;
          height: 1px;
          width: 1px;
          overflow: hidden;
          clip: rect(1px, 1px, 1px, 1px);
          background: transparent;
          border: 1px solid #e3e3e3; }
          #Header .nav .right-nav li .nav-dropdown li {
            width: 100px;
            height: 30px; }
            #Header .nav .right-nav li .nav-dropdown li a {
              margin: 0;
              padding: 0;
              display: block;
              color: black;
              height: 30px;
              line-height: 30px;
              background: #ffffff; }
              #Header .nav .right-nav li .nav-dropdown li a:hover {
                background: #e3e3e3; }
      #Header .nav .right-nav #navPublish {
        width: 50px;
        text-align: center;
        position: relative; }
        #Header .nav .right-nav #navPublish .nav-dropdown {
          width: 102px;
          position: absolute;
          top: 49px;
          right: -25px;
          z-index: 9999; }
      #Header .nav .right-nav #navNotice {
        width: 50px;
        text-align: center;
        position: relative; }
        #Header .nav .right-nav #navNotice .nav-dropdown {
          width: 102px;
          position: absolute;
          top: 49px;
          right: -25px;
          z-index: 9999; }
      #Header .nav .right-nav #navCollection {
        position: relative;
        max-width: 135px;
        text-align: left;
        margin-left: 15px; }
        #Header .nav .right-nav #navCollection .nav-link {
          height: 25px;
          line-height: 25px;
          margin: 0;
          padding: 0; }
          #Header .nav .right-nav #navCollection .nav-link .triangleDown {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid #333333; }
          #Header .nav .right-nav #navCollection .nav-link .triangleUp {
            margin-left: 10px;
            vertical-align: middle;
            display: inline-block;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-bottom: 5px solid #333333; }
        #Header .nav .right-nav #navCollection .nav-dropdown {
          width: 102px;
          position: absolute;
          top: 49px;
          right: 0;
          z-index: 9999; }
